{% load static %}
<!-- {% block body %} -->
<form class="search" onsubmit="search(event)">
    <h1>COMPOUNDING INTEREST</h1>
   <div class="input">
        {% if fullSearch %}
            <label for="title">TITLE</label>
        {% endif %}
        <input type="text" placeholder="" value="{{ title }}" class="titleInput" name="title">
   </div>
   {% if fullSearch %}
    <div class="input">
        <label for="abstract">ABSTRACT</label>
        <input type="text" placeholder="" value="{{ abstract }}" class="abstractInput" name="abstract">
    </div>
    <div class="input">
        <label for="content">CONTENT</label>
        <input type="text" placeholder="" value="{{ content }}" class="contentInput" name="content">
    </div>
    {% endif %}
   <div class="controls">
        <button type="submit">
            <p>SEARCH</p>
        </button>
        <button onclick="event.preventDefault();window.location.href = '/random'">
            <p>RANDOM</p>
        </button>
   </div>
</form>
<script>
    const search = (e) => {
        e.preventDefault();
        const title = document.querySelector('.titleInput').value;
        try{
            var abstract = document.querySelector('.abstractInput').value;
            var content = document.querySelector('.contentInput').value;
            window.location.href = `/search?title=${title}&abstract=${abstract}&content=${content}`;
        }catch(err){
            window.location.href = `/search?title=${title}&abstract=&content=`;
        }
    }
</script>
<style>
    .search{
        width: 100%;
        background-color: black;
        color: white;
        font-size: 1em;
        border: 1px solid white;
        border-radius: 10px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        /* display: none; */
        /* box-shadow: 0px 0px 5px 2px rgb(170, 170, 170); */
    }
    .search input{
        width: 100%;
        height: 40px;
        border: 1px solid white;
        /* border-radius: 2.5px; */
        padding: 0 20px;
        font-size: 1em;
        background-color: black;
        color: white;
        outline: none;
        margin-bottom: 30px;
        font-family: 'PT Serif', sans-serif;
    }
    .search > div.input{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .search label{
        font-size: 1em;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .search input::placeholder{
        color: white;
        font-family: 'PT Serif', sans-serif;
    }
    .search h1{
        /* width: 80%; */
        font-size: 1.2em;
        margin: 0;
        padding-bottom: 40px;
        font-weight: 600;
    }
    .search input:focus{
        /* outline: 2px solid red; */
        /* border: 1px dashed white; */
        background-color: black;

    }
    .search .controls{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .search button{
        height: 40px;
        /* padding: 0 10px; */
        border: none;
        padding: 0;
        /* border-radius: 2.5px; */
        /* background-color: rgb(218, 218, 218); */
        color: black;
        font-size: 1em;
        margin: 0 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        border: 1px solid white;
    }
    .search p {
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0;
        color: black;
        font-weight: 600;
        background-color: white;
        /* border-radius: 2.5px; */
    }
    .search button:hover p{
        background-color: black;
        color: white;
    }
</style>
<!-- {% endblock %} -->