{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="home">
    {% include 'components/search.html' %} 
    <div class="postList">
        {% for post in articles %}
        <div class="post">
            <div class="content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.abstract}}</p>
            </div>
            <div class="link">
                <a href="/article/{{ post.id}}">READ MORE</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<style>
    .home{
        display: flex; flex-direction: column; align-items: center;
        width: 60%;
    }
    @media  (max-width: 880px){
        .home{
            width:90% !important;
        }
    }
    .postList{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
</style>
{% endblock %}