{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="resultsContainer">
    {% include 'components/search.html' %}
    <div class="postList inner">
        {% for post in articles %}
        <div class="post">
            <div class="content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.abstract}}</p>
            </div>
            <div class="link">
                <a href="/article/{{ post.id}}">READ MORE</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .resultsContainer{
        display: flex; flex-direction: column; align-items: center;
        width: 60%;
    }
    .results.inner{
        width: 100%;
        padding: 40px 20px;
        box-sizing: border-box;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .postList{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
</style>
{% endblock %}